body {
  background-color: #c4d3d4a8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-wrapper {
  background-color: #8b9f9f;
  white-space: nowrap;
  display: flex;
}

.container h1 {
  color: #6a6a6a;
  display: inline-block;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 40px;
}

.container p {
  color: #6a6a6a;
  display: inline-block;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  padding: left 50px;
}

.website-logo {
  font-size: 50px;
  margin-left: 5%;
  color: whitesmoke;
  display: inline-block;
  font-style: none;
}

#random-poem-link {
  margin-left: 400px;
  font-size: 20px;
  display: inline-block;
  color: whitesmoke;
}

#poem-list {
  font-size: 20px;
  display: inline-block;
  color: whitesmoke;
}

.container h2 {
  font-size: 10 rem;
  font-weight: 100;
  color: #6a6a6a;
  padding-left: 50px;
}

.container p1 {
  font-weight: 100;
  color: #6a6a6a;
  padding-left: 50px;
}

.container ul {
  font-weight: 100;
  color: #6a6a6a;
}

.container p2 {
  font-weight: 100;
  color: #6a6a6a;
  padding-left: 50px;
}
