body {
  font-family: sans-serif;
  background-color: #111d4a;
}

* {
  box-sizing: border-box;
}
h1 {
  color: #eee;
  margin-bottom: 30px;
}
.container {
  padding: 40px;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

#spellList {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.spell {
  list-style-type: none;
  background-color: #eaeaea;
  border-radius: 3px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "spell image"
    "use image";
  text-align: left;
}

.spell > h2 {
  grid-area: name;
  margin-bottom: 0px;
}

.spell > p {
  grid-area: house;
  margin: 0;
  margin-top: -18px;
}

/* .book > img {
  max-height: 100px;
  grid-area: image;
} */

#searchBar {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

#searchWrapper {
  position: relative;
}

#searchWrapper::after {
  content: "🔍";
  position: absolute;
  top: 7px;
  right: 15px;
}

/* body {
  background-color: #5e755c;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  background-color: #3f443e;
  white-space: nowrap;
  display: flex;
}

.container {
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: inherit;
}

.container h1 {
  padding-bottom: 100px;
  color: #3f3f3f;
  display: inline-block;
  margin-block-end: 50px;
  text-align: center;
}

.container p {
  color: #3f3f3f;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.website-logo {
  font-size: 50px;
  margin-left: 5%;
  color: #f1f1f1;
  display: inline-block;
}

#fav-books {
  margin-left: 300px;
  font-size: 30px;
  display: inline-block;
  color: #f1f1f1;
}

#contact {
  font-size: 30px;
  margin-left: 100px;
  display: inline-block;
  color: #f1f1f1;
} */
