body {
  background-color: #5e755c;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  background-color: #3f443e;
  white-space: nowrap;
  display: flex;
}

.container {
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: inherit;
}

.container h1 {
  padding-bottom: 100px;
  color: #3f3f3f;
  display: inline-block;
  margin-block-end: 50px;
  text-align: center;
}

.container p {
  color: #3f3f3f;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.website-logo {
  font-size: 50px;
  margin-left: 5%;
  color: #f1f1f1;
  display: inline-block;
}

#fav-books {
  margin-left: 300px;
  font-size: 30px;
  display: inline-block;
  color: #f1f1f1;
}

#contact {
  font-size: 30px;
  margin-left: 100px;
  display: inline-block;
  color: #f1f1f1;
}
